.certifications-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .certifications-container table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  .certifications-container thead {
    background-color: #f2f2f2;
  }
  
  .certifications-container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .certifications-container tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .first {
    width:25%;
  }

  .second {
    width:25%;
  }
