@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

#index{
  font-family : 'Jeju Gothic';
  margin-left:50px ;
  margin-right:50px ;
  line-height: 1.5;
  font-weight: bolder;
}
header {
 font-size: 40px;
 height: 150px;
 text-align: center;
 background-color: lightsteelblue;
}
#container {
 display: flex;
}
#nav{
 flex: 1;
 font-size:20px ;
 /* text-align: center; */
}
#main{
 flex: 4;
 font-size: 20px;
 margin-left: 20px;
}
li {
 list-style: none;
 width:250px;
 padding:10px;
 margin : 10px;

}
a {
 text-decoration: none;
 color: white;
}
.menu {
  width: 300px;
}
.menu > li {
  line-height: 40px;
  background-color: blue;
}
.submenu {
  display: none;
 }
.menu > li:hover {
  background-color: orange;
  transition-duration: 1s;
 }
.menu > li:hover .submenu {
  display: block;
  transition-duration: 1s;
}
footer {
  text-align: center;
  background-color: gray;
  color: white;
  font-size: 20px;
  height: 80px;
}
