
  
  /* 섹션 스타일 */
  .CLDiv h4, h5 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 5px;
  }

  .CLDiv h4 {
    font-size: 30px;
  }

  .CLDiv h5 {
    font-size: 20px;
  }
  
  /* 문단 스타일 */
  .CLDiv p {
    max-width: 900px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin: 0 auto;
  }
  
  /* 테이블 스타일 */
  .CLDiv table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  .CLDiv th, td {
    border: 1px solid #595347;
    padding: 8px;
    text-align: left;
  }
  
  .CLDiv th {
    background-color: #f2f2f2;
  }
  
  /* 근로 장학생 활동 부분 스타일 */
  .CLDiv h5 {
    color: #ff6600;
  }
  
  /* 근로 장학생 활동 테이블 스타일 */
  .CLDiv h5 + table {
    margin-top: 5px;
    border-top: 2px solid #ff6600;
  }